<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>require</key>
	<array>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<true/>
			<key>placeholder</key>
			<string>填写用户名</string>
			<key>title</key>
			<string>用户名</string>
			<key>fieldType</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<true/>
			<key>placeholder</key>
			<string>填写邮箱</string>
			<key>title</key>
			<string>邮箱</string>
			<key>fieldType</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<true/>
			<key>placeholder</key>
			<string>填写密码</string>
			<key>title</key>
			<string>密码</string>
			<key>fieldType</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<true/>
			<key>placeholder</key>
			<string>再次填写密码</string>
			<key>title</key>
			<string>确认密码</string>
			<key>fieldType</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>optional</key>
	<array>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<false/>
			<key>placeholder</key>
			<string>选择地区</string>
			<key>title</key>
			<string>地区</string>
			<key>fieldType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<false/>
			<key>placeholder</key>
			<string>选择学校</string>
			<key>title</key>
			<string>学校</string>
			<key>fieldType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<false/>
			<key>placeholder</key>
			<string>选择专业</string>
			<key>title</key>
			<string>专业</string>
			<key>fieldType</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<false/>
			<key>placeholder</key>
			<string>选择学历</string>
			<key>title</key>
			<string>学历</string>
			<key>fieldType</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<false/>
			<key>placeholder</key>
			<string>选择职称</string>
			<key>title</key>
			<string>职称</string>
			<key>fieldType</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<false/>
			<key>placeholder</key>
			<string>填写实验室</string>
			<key>title</key>
			<string>实验室</string>
			<key>fieldType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>text</key>
			<string></string>
			<key>shouldBeginEditing</key>
			<true/>
			<key>placeholder</key>
			<string>填写电话</string>
			<key>title</key>
			<string>电话</string>
			<key>fieldType</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
