<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>用户名</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>邮箱</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>手机号</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>学校</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>省份</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>城市</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>学历</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>专业</string>
		<key>text</key>
		<string></string>
		<key>idStr</key>
		<string></string>
	</dict>
</array>
</plist>
